<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our Story</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Keeping our family healthy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have always struggled in getting our kids to eat a varied healthy diet, that wasn't just chicken and bagels. What's more, we always strive to reduce our consumption of meat, but are often stuck in our meal planning with the North American tradition of a main course of meat, surrounded by some vegetables...or pasta..</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Enter my mother-in-law</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">She is from India, and every time she comes over, she brings us an entire freshly cooked, vegetarian meal that even my kids love. What makes our "personal indian catering service" special, is that this is food you do not find at the typical indian restaurant: healthy vegetarian fare. What is most surprising is the variety: there is always at least one dish per week we have never seen in any indian restaurant. Pumpkin, black chick peas, squash, stuffed mini-eggplant, edo, lotus root, bitter melon, lentil kebabs in tart turmeric curry, etc... What's more, we never get that "post-indian restaurant hangover". </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-responsive img-circle" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">A bit about her</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">She was a stay-at-home mom for thirty years, and since her kids left home, she has been thinking of ways to keep busy. She tried some odd-end warehouse jobs, but she always felt more useful when helping us. She wants to spend her energy doing things she is has a true talent for: cooking healthy varied indian vegetarian food.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">A bit about the idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">She wants to scale up what she already does for us, and see if she can start a mini food service. Each week, you can sign up to receive the Meal of the week. 30$ for two adult portions, (delivery to Plateau/Mile-End/Outremont included). This includes three vegetarian dishes (which includes a bean) and a basmati rice (This is in fact exactly what she makes for us, and it is such a treat!). Examples of a meal include: Stuffed eggplant, curried pumpkin, chickpeas, basmati rice - Dahl, spinach with panner, okra and basmati rice.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">A bit about the name</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The food is is inspired by ayurvedic principles (vegetarian, fresh, seasonal). The food is healthy (emphasis on minimal cream and oil). The food is delicious. --> Yogi Belly.</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>