<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- for Facebook -->          
    <meta property="og:title" content="Yogi Belly" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://yogibelly.com/img/cover.jpg" />
    <meta property="og:url" content="http://yogibelly.com/" />
    <meta property="og:description" content="Healthy Homemade Vegetarian Indian Food - Delivered to your door!" />

    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@yogi_belly">
    <meta name="twitter:url" content="http://yogibelly.com/">
    <meta name="twitter:title" content="Yogi Belly" />
    <meta name="twitter:description" content="Healthy Homemade Vegetarian Indian Food - Delivered to your door!" />
    <meta name="twitter:image" content="http://yogibelly.com/img/cover.jpg" />


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="http://allfont.net/allfont.css?fonts=matura-mt-script-capitals" rel="stylesheet" type="text/css" />
    <link href="http://allfont.net/allfont.css?fonts=1-harrington-m" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://static.sasongsmat.nu/fonts/vegetarian.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <!--<link rel="icon" href="/favicon.ico" type="image/x-icon">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
