<section id="menu">
    <div class="container">
<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Menu of the Week</h2>
            </div><br><br><br>
                <div class="col-lg-8 col-sm-offset-2">
                <h3 class="service-heading text-center text-white">hari Moong Ki Dal</h3>
                <h4 class="service-heading text-center text-white"></h4>

				<p class="text-white">Dal made with green Moong beans and crumbled Masala Wali badiyan, a spicy sundried black lentil cake. Note: Only the adult portions have the badiyan.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Gobi Masala</h3>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">Cauliflower cooked in a mix of spices and garam masala.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Kadu ki sabzi</h3>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">Sweet pumpkin cooked with fresh ginger, tomatoes and coriander.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Tumeric Basmati Rice</h3>
                <p class="text-white">Naturally fragrant, long grain rice, flavored with tumeric.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Saunf Mix</h3>
                <p class="text-white">A blend of plain and candied fennel seeds to be enjoyed after full meal for their digestive properties.</p>
				
                <br><br>
                <a href="http://yogibelly.com/blog/menus/" class="page-scroll btn btn-xl">Previous Menus</a>
            </div>
        </div>
    </div>
</section>