<section id="menu">
    <div class="container">
<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Menu of the Week</h2>
            </div><br><br><br>
                <div class="col-lg-8 col-sm-offset-2">

                <h3 class="service-heading text-center text-white">Besan Khadi</h3>
                <!-- <h4 class="service-heading text-center text-white">A fragrant tomato based curry with opo squash, zucchini and potatoes</h4> -->

				<p class="text-white">Pakoras made of chickpea flour are prepared in a yogurt-based sauce with turmeric, curry leaves and lemon to give its distinctive tart flavor.  A classic comfort food dish of the Indian cuisine</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Gajar Mehti</h3>
              <!--   <h4 class="service-heading text-center text-white">Roasted aubergine with peas and spices</h4> -->

                <p class="text-white">Carrots with Fenugreek leaves</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Shimla ki mirch aur Tofu</h3>
                <!-- <h4 class="service-heading text-center text-white">Black chickpeas cooked with coriander, pomegranate seeds, mint and ginger</h4> -->

                <p class="text-white">Orange and Green peppers sautéed with tofu, with a mix of ginger, coriander and chili</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Aniseed Basmati Rice</h3>
                <p class="text-white">Naturally fragrant, long grain rice, prepared with roasted anis seeds</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Saunf Mix</h3>
                <p class="text-white">A blend of plain and candied fennel seeds to be enjoyed after full meal for their digestive properties.</p>
				
                <br><br>
                <a href="http://yogibelly.com/blog/menus/" class="page-scroll btn btn-xl">Previous Menus</a>
            </div>
        </div>
    </div>
</section>