<section id="menu">
    <div class="container">
<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Menu of the Week</h2>
            </div><br><br><br>
                <div class="col-lg-8 col-sm-offset-2">
                <h3 class="service-heading text-center text-white">Kamal Kakhdi Kofta Curry</h3>
                <h4 class="service-heading text-center text-white">Lotus Root Kebabs in Spiced Curry</h4>

				<p class="text-white">These vegetarian kebabs combine grated lotus root, potatoes, tofu and chickpea flour which are slowly simmered in an fragrant gravy flavored with fresh ginger, paprika, turmeric, cumin and cinnamon.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Daal Makhani</h3>
                <h4 class="service-heading text-center text-white">Aromatic Black Lentil Daal</h4>

                <p class="text-white">A delicious comforting black lentil curry made with aromatic spices and a touch of cream. Can be enjoyed with basmati rice or tandoori naan.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Arbi ki Sabzi</h3>
                <h4 class="service-heading text-center text-white">Roasted Eddo with Garam Masala Spice rub</h4>

                <p class="text-white">Discover taro, a root vegetable which is roasted with a unique blend of spices that make it slightly addictive!</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Basmati Rice</h3>
                <p class="text-white">Naturally fragrant, long grain rice, cooked with cinnamon, cloves, cardamom, and peppercorns. To be enjoyed with all above dishes.</p>

                <br><br>
                <h3 class="service-heading text-center text-white">Saunf Mix</h3>
                <p class="text-white">A blend of plain and candied fennel seeds to be enjoyed after full meal for their digestive properties.</p>
				
                <br><br>
                <h4 class="service-heading text-center text-white"><a href="http://yogibelly.com/menus">Click here to see previous weeks menus</a></h4>
            </div>
        </div>
    </div>
</section>