<section id="order">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Order</h2>
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">

                <h2 class="service-heading text-center text-white">Delivery Dates</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    Delivery dates for the week of January 18th, 2016:
                    <ul style="list-style-type:circle">
                        <li>Tuesday January 19th: Mile-End, Outremont</li>
                        <li>Wednesday January 20th: Plateau, NDG, other</li>
                        <li>between 4 and 7pm</li>
                    </ul>

                </p>

                <br><br>



                <h2 class="service-heading text-center text-white">How to Order</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    <ul style="list-style-type:circle">
                        <li>Email: <a href="mailto:mariepierre@yogibelly.com">mariepierre@yogibelly.com</a></li>
                        <li>Phone: (514) 867-3473</li>
                        <li>Orders must be placed by Saturday January 16th to receive delivery for the week of January 18th</li>
                        <li>Please tell us about any allergies or dietary restrictions</li>
                    </ul>

                </p>


            </div>
        </div>
    </div>
</section>