<section id="order" class="bg-light-gray">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Order</h2>
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">

                <h2 class="service-heading text-center text-white">Delivery Dates</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    There are 2 delivery dates each week:
                    <!--<ul style="list-style-type:circle">
                        <li>Tuesdays: Mile-End, Outremont, NDG</li>
                        <li>Wednesdays: Plateau, Rosemont, other</li>
                        <li>between 4 and 7pm</li>
                    </ul>-->

                    <div class="list-group">
                        <a class="list-group-item"><i class="fa fa-square fa-fw"></i>&nbsp; Tuesdays: Mile End, Outremont, Pointe St-Charles, Verdun, St-Henri, NDG</a>
                        <a class="list-group-item"><i class="fa fa-square fa-fw"></i>&nbsp; Wednesdays: Plateau, Rosemont, Petite Italie, Villeray, Ahuntsic, Other</a>
                        <a class="list-group-item"><i class="fa fa-square fa-fw"></i>&nbsp; between 4:30 and 7:45pm</a>
                    </div>

                </p>

                <br><br>



                <h2 id="howtoorder" class="service-heading text-center text-white">How to Order</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    <!--<ul style="list-style-type:circle">
                        <li>Email: <a href="mailto:mariepierre@yogibelly.com">mariepierre@yogibelly.com</a></li>
                        <li>Phone: (514) 867-3473</li>
                        <li>All orders for the upcoming week must be placed by Saturday at midnight</li>
                        <li>Please tell us about any allergies or dietary restrictions</li>
                    </ul>-->

                    <div class="list-group">
                        <!-- <a class="list-group-item" href="mailto:mariepierre@yogibelly.com"><i class="fa fa-envelope fa-fw"></i>&nbsp; mariepierre@yogibelly.com</a> -->
                        <a class="list-group-item" href="https://docs.google.com/forms/d/1SUig6m9zBAcz-hYoFqzKiFkn8zPcsqwleUP7o4NABhk/edit"><i class="fa fa-envelope fa-fw"></i>&nbsp; Link to Order Form (Google Form)</a>
                        <a class="list-group-item"><i class="fa fa-phone fa-fw"></i>&nbsp; (514) 458-5649</a>
                        <a class="list-group-item"><i class="fa fa-clock-o fa-fw"></i>&nbsp; All orders for the upcoming week must be placed by Saturday at midnight</a>
                        <a class="list-group-item"><i class="fa fa-exclamation-circle fa-fw"></i>&nbsp; Please tell us about any allergies or dietary restrictions</a>

                    </div>

                </p>
<!--<div id='product-component-fbe184a8528'></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'yogibelly.myshopify.com',
      apiKey: '4dc48733ba0bad263297e1b61cb5787e',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [8732582529],
        node: document.getElementById('product-component-fbe184a8528'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "buttonDestination": "checkout",
    "variantId": "all",
    "width": "240px",
    "contents": {
      "img": false,
      "title": false,
      "variantTitle": false,
      "price": false,
      "description": false,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "text": {
      "button": "BUY NOW"
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "compareAt": {
        "font-size": "12px"
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script>-->
                <br><br>

                <h2 class="service-heading text-center text-white">Modes of payment</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    <!--<ul style="list-style-type:circle">
                        <li>cash</a></li>
                        <li>cheque</li>
                        <li>interac e-transfer</li>
                    </ul>-->

                    <div class="list-group">
                        <a class="list-group-item"><i class="fa fa-usd fa-fw"></i>&nbsp; cash</a>
                        <a class="list-group-item"><i class="fa fa-check fa-fw"></i>&nbsp; cheque</a>
                        <a class="list-group-item"><i class="fa fa-credit-card fa-fw"></i>&nbsp; interac e-transfer</a>
                    </div>

                </p>


            </div>
        </div>
    </div>
</section>