<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">This Week</h2>
                <h4 class="section-heading text-muted"><i class="fa fa-bullhorn">   </i>        Meal for May 24 and 25 is Vegetarian</h4>
                <!--<h4 class="section-subheading">Meal for March 15th and 16th is Vegetarian</h4>-->
            </div>
        </div>

        <br><br>
        
        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 text-center">
                <h4 class="section-heading text-muted">Add some of our favorite products from the Indian Grocery Store to your order, including:
                </h4>
                <h4 class="section-heading text-muted">Naan – pack of 5 for $7</h4>
                <h4 class="section-heading text-muted">Ras Malai – four milk cakes for $6</h4>
            </div>
        </div>

        <br><br><br><br>


        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 text-center">
                <h2 class="section-subheading text-muted">Curious about what kind of food you might be trying out? Here are some sample menus from the past</h2>
            </div>
        </div>

        <br><br>

        <div class="row text-center">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/ion-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Menu May 24th and 25th</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/ion-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Sample Vegetarian Menu</p>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/fa-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Sample Vegan Menu</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/fa-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Sample Vegan Menu</p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 text-center">
                <h2 class="section-subheading text-muted">Some of our favorite dishes</h2>
            </div>
        </div>
        <br><br>
        <!-- 1st row of favorite ingredients-->
        <div class="row text-center">
            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb1.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Bhindi Masala</p>
                </div>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb2.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Kaddu</p>
                </div>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb4.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Chana Masala</p>
                </div>
            </div>



            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb5.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Sweet Potato and Turnip Bharta</p>
                </div>
            </div>
        </div>

        <!-- 2nd row of favorite ingredients-->
        <div class="row text-center">
         <div class="col-md-3 portfolio-item">
            <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/cb6.jpg" class="img-responsive img-centered" alt="">
            </a>
            <div class="portfolio-caption">
                <!--<h4>{{ post.title }}</h4>-->
                <p class="text-muted">Saag</p>
            </div>
        </div>

        <div class="col-md-3 portfolio-item">
            <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/cb7.jpg" class="img-responsive img-centered" alt="">
            </a>
            <div class="portfolio-caption">
                <!--<h4>{{ post.title }}</h4>-->
                <p class="text-muted">Khaadi</p>
            </div>
        </div>

            <!-- Add the extra clearfix for only the required viewport 
            <div class="clearfix visible-md-block"></div>-->

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb8.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Gajar Mehthi</p>
                </div>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb3.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Suggested serving</p>
                </div>
            </div>
        </div>

    </div>
</section>
