<section id="pricing">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Pricing</h2>
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">

                <h2 class="service-heading text-center text-white">Option 1</h2>
                <h4 class="service-heading text-center text-white">Two Adult Meal Plan</h4>

                <p class="text-white">
                    $30 for two adult portions:
                    <ul style="list-style-type:circle">
                        <li>1 L of a flavored rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                    </ul>
                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Option 2</h2>
                <h4 class="service-heading text-center text-white">Family Plan</h4>

                <p class="text-white">
                    $40 for a family sized portion:
                    <ul>
                        <li>1 L of a flavored rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                        <li>3 x 250 ml of vegetarian dishes for kids - or your own lunches the next day</li>
                    </ul>

                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Option 3</h2>
                <h4 class="service-heading text-center text-white">Four week Family Plan Pass (Best Value!)</h4>

                <p class="text-white">Pre-pay $120, and we promise you four weeks of our Family Plan:
                    <ul>
                        <li>1 L of a flavored rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                        <li>3 x 250 ml of vegetarian dishes for kids - or your own lunches the next day</li>
                    </ul>
                    <strong>Note:</strong> you do not need to do the four weeks in a row, as we are not putting any expiry dates on this offer.</p>

                    <br><br>

                    <h2 class="service-heading text-center text-white">Delivery</h2>
                    <!--<h4 class="service-heading text-center text-white">Sign up for a Four week pass</h4>-->

                    <p class="text-white">Delivery is free of charge if you live in the Plateau, Mile-End or Outremont. A $5 fee applies to new areas until we have enough clients in that area.</p>

                    <br><br>
                </div>
            </div>
        </div>
    </section>