     <!-- Plans -->
     <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                    A one time $10 refundable deposit for glass jars applies to all Options --> sustainability
                    <br><br><br>
                </div> 
                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-user"></i><i class="fa fa-user"></i>

                            <h3>Date Night Package</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$30 for two adult portions</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check-square fa-fw"></i> 1 L of a Basmati rice</li>
                            <li class="list-group-item"><i class="fa fa-check-square fa-fw"></i> 3 x 500 mL of vegetarian dishes</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="mailto:mariepierre@yogibelly.com?subject=Yogi Belly order - Date Night Package &body=Hi, I would like to order the Date Night package.">Place an order</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-users"></i>
                            <h3>The Family Package</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$40 for a family sized portion</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check-square fa-fw"></i> 1 L of a Basmati rice</li>
                            <li class="list-group-item"><i class="fa fa-check-square fa-fw"></i> 3 x 750 mL of vegetarian dishes</li>
                            <li class="list-group-item"><strong>First Time Order?</strong> Contact us for a promotional trial offer.</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="mailto:mariepierre@yogibelly.com?subject=Yogi Belly order - Family Package &body=Hi, I would like to order the Family package. Tell me about the promotional trial offer.">Place an order</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-users"></i>  <i class="fa fa-users"></i>  <i class="fa fa-users"></i>  <i class="fa fa-users"></i>
                            <h3>Four Week Family Plan (Best Value!)</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Pre-pay $120, and we promise you four weeks of our Family Plan</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check-square fa-fw"></i> 1 L of a Basmati rice</li>
                            <li class="list-group-item"><i class="fa fa-check-square fa-fw"></i> 3 x 750 mL of vegetarian dishes</li>
                            <li class="list-group-item"><strong>Note:</strong> you do not need to do the four weeks in a row, as we are not putting any expiry dates on this offer</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="mailto:mariepierre@yogibelly.com?subject=Yogi Belly order - 4 week Family Plan &body=Hi, I would like to order the 4 week Family Plan.">Place an order</a>
                        </div>
                        
                    </div>
                    <br><br>
                </div>
                <div class="row">
                <div class="col-md-12 text-center">
                        <h2 class="service-heading text-center text-white">Delivery</h2>
                        Delivery is free of charge if you live in the Plateau Mont-Royal, Mile-End, Outremont or <br> Rosemont La-Petite-Patrie. A $5 fee applies to all other areas.
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- /Plans -->