<section id="pricing">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Pricing</h2>
                A one time $10 refundable deposit for glass jars applies to all Options --> sustainability
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">



                <h2 class="service-heading text-center text-white">Option 1</h2>
                <h4 class="service-heading text-center text-white">Date Night Package</h4>

                <p class="text-white">
                    $30 for two adult portions:
                    <ul style="list-style-type:circle">
                        <li>1 L of a Basmati rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                    </ul>
                </p>

<!--
<div class="col-xs-6 col-sm-4 col-md-6 col-lg-6">
                <p class="text-white">
                    $30 for two adult portions:
                    <ul style="list-style-type:circle">
                        <li>1 L of a flavored rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                    </ul>
                </p>
</div>

<div class="col-xs-6 col-sm-4 col-md-6 col-lg-6">
<div data-embed_type="product" data-shop="yogi-belly.myshopify.com" data-product_name="Option 1: Two Adult meal plan" data-product_handle="option-1-two-adult-meal-plan" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="276623" data-button_text_color="ffffff" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
<script type="text/javascript">
document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
</script>
<noscript><a href="https://yogi-belly.myshopify.com/cart/14449153479:1" target="_blank">Buy Option 1: Two Adult meal plan</a></noscript>

</div> -->

                <br><br>

                <h2 class="service-heading text-center text-white">Option 2</h2>
                <h4 class="service-heading text-center text-white">Family Package</h4>

                <p class="text-white">
                    $40 for a family sized portion:
                    <ul style="list-style-type:circle">
                        <li>1 L of a Basmati rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                        <li>3 x 250 ml of vegetarian dishes for kids - or your own lunches the next day</li>
                    </ul>
                    <strong>First Time Order?</strong> Contact us for promotional trial offer.</p>
                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Option 3</h2>
                <h4 class="service-heading text-center text-white">Four week Family Plan (Best Value!)</h4>

                <p class="text-white">Pre-pay $120, and we promise you four weeks of our Family Plan:
                    <ul style="list-style-type:circle">
                        <li>1 L of a Basmati rice</li>
                        <li>3 x 500 mL of vegetarian dishes</li>
                        <li>3 x 250 ml of vegetarian dishes for kids - or your own lunches the next day</li>
                    </ul>
                    <strong>Note:</strong> you do not need to do the four weeks in a row, as we are not putting any expiry dates on this offer.</p>

                    <br><br>

                    <h2 class="service-heading text-center text-white">Delivery</h2>
                    <!--<h4 class="service-heading text-center text-white">Sign up for a Four week pass</h4>-->

                    <p class="text-white">Delivery is free of charge if you live in the Plateau, Mile-End or Outremont. A $5 fee applies to all other areas.</p>

                    <br><br>
                </div>
            </div>
        </div>
    </section>