<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Yogi Belly</h2>
                    <h3 class="section-subheading text-muted">This Is How We Eat</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">NOT Another Indian Restaurant</h4>
                    <p class="text-muted">We love butter chicken too, but this is about something different: our priority is on fresh healthy food you could eat everyday (and maybe live longer). We hope to explore new dishes and vegetables with you, coming from a culture rooted in the longest tradition of vegetarian cooking.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Healthy Vegetarian Fare</h4>
                    <p class="text-muted">We have always struggled in getting our kids to eat a varied healthy diet, that wasn't just chicken and bagels. What's more, we always strive to reduce our consumption of meat, but are often stuck in our meal planning with the North American tradition of a main course of meat, surrounded by some vegetables...or pasta. All our food is 100% vegetarian (no eggs either). Many of our dishes are also vegan.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pagelines fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Explore New Dishes With Us:</h4>
                    <p class="text-muted">Pumpkin, black chick peas, squash, stuffed mini-eggplant, edo, lotus root, bitter melon, lentil kebabs in tart tumeric curry,... and more.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Commitment to Sustainability</h4>
                    <p class="text-muted">We deliver all our food in reusable glass jars and bags so you don't have to feel guilty about the packaging. Please help us keep to our commitment to sustainability: Keep your jars and bag. We will take them back upon delivery of your next order!</p>
                </div>
            </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Delivery</h4>
                        <p class="text-muted">We offer delivery to the Plateau, Mile-End and Outremont. A surcharge may apply for delivery outside these areas.</p>
                    </div>
                <div>
            </div>
        </div>
    </section>