<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Yogi Belly</h2>
                <h3 class="section-subheading text-muted">This Is How We Eat</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Homemade Healthy Vegetarian Indian Food</h4>
                <p class="text-muted">Our priority is on healthy Indian food you could eat everyday.  You will be surprised to see how much more there is to Indian cuisine than what you find at Indian restaurants. We hope to help you discover how people really eat in a culture rooted in the longest tradition of vegetarian cooking.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Let us take care of Meatless Mondays</h4>
                <p class="text-muted">Are you running out of ideas for what to cook when trying to eat less meat? With YogiBelly you will get to try a variety of new vegetarian dishes: pumpkin, black chick peas, squash, stuffed mini-eggplant, edo, lotus root, bitter melon, lentil kebabs in tart tumeric curry,... and more.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">What's on the Menu?</h4>
                <p class="text-muted">When you dine with us, the meal is a surprise! We ask for your trust as you join us on the Yogi Belly culinary experience.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Vegan?</h4>
                <p class="text-muted">We aim to offer vegan menus 2-3 times a month. Follow us on <a href="https://twitter.com/yogi_belly">Twitter</a>, <a href="https://www.instagram.com/yogi_belly/">Instagram</a>, or look below in the <a href="#portfolio">Menu</a> section to catch our weekly announcement: is next week a vegan meal?</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Our Commitment to Sustainability</h4>
                <p class="text-muted">We deliver all our food in reusable glass jars and bags so you don't have to feel guilty about the packaging. We also compost all kitchen trimmings.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Delivery</h4>
                <p class="text-muted">We offer free delivery to the Plateau, Mile-End, Outremont and Rosemont. A surcharge may apply for delivery outside these areas.</p>
            </div>
        </div>

        <!--<div class="list-group">
          <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
          <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
          <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
          <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
      </div>-->
  </div>
</section>