<!-- Head tags to include FontAwesome 
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>-->
<section id="testimonials" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Testimonials</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">

            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                <!--<div class="col-sm-3 text-center">
                <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">-->
                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">
                </div>-->
                <div class="col-sm-12 text-center">
                  <p>The okra is sublime! My husband has always liked it and used to order it from the local
                    restaurant in London all the time. I have never really liked it. The
                    taste is fine, but it always seemed a little slimy to me, whether
                    ordering in a restaurant or in a rare attempt to cook it myself. But
                    man, Sunita's is the nicest I've ever had.</p>
                    <small>Erica, NDG</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <!--<div class="col-sm-3 text-center">
                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                  </div>-->
                  <div class="col-sm-12 text-center">
                    <p>I love the food! Thanks so much. Light and healthy like you said. And the ras malai is to die for.</p>
                    <small>Amber, Plateau Mont-Royal</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <!--<div class="col-sm-3 text-center">
                    <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                  </div>-->
                  <div class="col-sm-12 text-center">
                    <p>Yogi belly is delicious!! We are carnivores and were extremely satisfied!! The diversity, quantity and flavours were perfect. Thank you for feeding us <i class="fa fa-smile-o"></i>.
                    </p>
                    <small>Laura, Verdun</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>                          
      </div>
    </div>
  </div>
</section>